<div class="container table-container">

	<h5 class="sub_heading">My Active Bookings</h5>

	<%= content_tag :table, role: :datatable, data: {url: bookings_path(current_user: current_user, format: :json)} do %>
	  <thead>
	    <tr>
	      <th>Reservation Date & Time</th>
	      <th>End Time</th>
	      <th>Facility</th>
	      <th>Room Type</th>
	      <th>Use Type</th>
	      <th>Status</th>
	      <th></th>
	    </tr>
	  </thead>

	  <tbody>
	  </tbody>
	<% end %>

	<%= link_to 'New Booking', root_path %>
</div>
